@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

#tela {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;

    width: 100vw;
    height: 100vh;
    background-image: url("https://wallpaperbat.com/img/88138666-best-space-exploration-iphone-hd.jpg");
    background-size: 155%;
    background-position: left -350px;
    background-repeat: no-repeat;
}